<div class="container-fluid">
  <h1>Welcome, {{Data['name']}}</h1>
  <hr>
  <div class="row">
      <div class="col-md-4" style="    border-right: 1px solid rgba(255, 255, 255, 0.28);
    
    ">
          <h2>Select Preferences</h2>
          <hr>

          <mat-chip-list aria-label="Fish selection" class="mat-chip-list-stacked" multiple >
        
              <mat-chip color="primary" [selected]=prefOptions[0] (click)="toggleOption(0);" >Pharmaceutical</mat-chip>

              <mat-chip color="primary" [selected]=prefOptions[1] (click)="toggleOption(1);" >Automobile</mat-chip>
          
              <mat-chip color="primary" [selected]=prefOptions[2] (click)="toggleOption(2);" >Information Technology</mat-chip>
          
              <mat-chip color="primary" [selected]=prefOptions[3] (click)="toggleOption(3);" >Banking</mat-chip>
          
              <mat-chip color="primary" [selected]=prefOptions[4] (click)="toggleOption(4);" >Consumer Electronics</mat-chip>
          
          
            </mat-chip-list>


      </div>

      <div class="col-md-8" style="    padding: 0px 52px">
        <button class="btn btn-success" (click)="fetchContent();">Fetch</button>

          <h1>Predicted Stock Values</h1>
          <hr>
          <h4 *ngIf="stat=='wait'">Fetching...</h4>
          <mat-accordion *ngIf="content">
            <mat-expansion-panel *ngFor="let element of contentKeys">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{element}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let sub of subKeys[element]">
                <h4>{{sub}}</h4>
              <table class="table"  style="background-color: #A8A8A8;">
                <thead>
                  <tr >
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                    <th>Volume</th>
                    <th>Confidence Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>{{content[element][sub]['open']}}</td>
                    <td>{{content[element][sub]['high']}}</td>
                    <td>{{content[element][sub]['low']}}</td>
                    <td>{{content[element][sub]['close']}}</td>
                    <td>{{content[element][sub]['volume']}}</td>
                    <td>{{content[element][sub]['confidence_value']}}</td> 
                  </tr>
                </tbody>
              </table>
              </div>
              
            </mat-expansion-panel>
               
          </mat-accordion> 


      </div>

  </div>
</div>